<p class="pankuzu">
  <%= link_to 'トップページ', '#', class: 'common_a' %> >
  <%= link_to '管理画面', admins_index_path, class: 'common_a' %> >
  <%= link_to '学びの資料', learn_categories_path, class: 'common_a' %> >
  学びの資料 編集
</p>
<div class="admin_learn_add_contant">
  <div class="common_field_title">
    <h1>学びの資料 カテゴリー編集</h1>
    <div class="underline"></div>
  </div>
  <%= form_with model: @learn_category, url: learn_category_path(@learn_category), local: true do |form| %>
    <%= render 'shared/error', object: @learn_category %>
    <div class="learn_add_categeory_part">
      <%= form.label :name, "カテゴリー名<span>必須</span>".html_safe, class: "common_size16" %>
      <%= form.text_field :name, class: "course_name text_box common_size16", maxlength: 15 %>
      <p class="gray common_size13">※15文字以内で入力してください。</p>
    </div>
    <div class="learn_add_categeory_part">
      <%= form.label :order_num, "表示順<span>必須</span>".html_safe, class: "common_size16" %>
      <%= form.select :order_num, options_for_select(@unused_order_nums, selected: @learn_category.order_num), {}, {class: "common_size16"} %>
    </div>
    <div class="dument_content">
      <%= form.check_box :delete_learn, class: "delete_learn_checkbtn" %>
      <%= form.label :delete_learn, "学びの資料を削除する", class: "common_size16" %>
    </div>
    <div class="admin_submit_btn text_center common_merge">
      <%= link_to '戻る', learn_categories_path, class: 'back_btn2 common_box_blue' %>
      <%= form.submit "更新", class: "edit_btn common_box_blue" %>
    </div>
  <% end %>
</div>
